@media only screen and (max-width: 665px) {
  /*header*/
  .header-section {
    padding-bottom: 20px;
  }
  .header-container {
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
  }

  .nav {
    flex-direction: column;
    gap: 30px;
    align-items: center;
  }

  /*banner*/
  .banner-section {
    padding-bottom: 50px;
  }
  .banner-container {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 0 30px;
  }

  .banner-left {
    width: 70%;
    text-align: center;
  }

  .banner-right {
    width: 95%;
  }

  /*wegamersection*/
  .wearegamer-section {
    padding-bottom: 50px;
  }
  .wearegamer-container {
    flex-direction: column;
    gap: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .weright {
    width: 100%;
    text-align: center;
  }
  /*videosection*/

  .video-section {
    padding-bottom: 40px;
  }
  .video-container {
    padding: 0 10px;
  }
  .video-cards {
    flex-direction: column;
    align-items: center;
  }
  .video-card {
    width: 90%;
    padding-bottom: 20px;
  }
  .video-img .card-img {
    width: 100%;
  }
  .video-img img {
    width: 100%;
  }

  /*play-section*/
  .play-container {
    flex-direction: column;
    padding: 0 10px;
  }
  .play-left {
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
  }

  .play-right {
    width: 80%;
  }

  .play-right img {
    width: 84%;
    position: relative;
  }
  .play-right .img2 {
    bottom: -18px;
    left: -20;
  }

  /*allgames*/
  .allgames-container {
    padding: 40px 0;
  }
  .allgames-cards {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
  }
  .allgame-card {
    font-weight: normal;
    gap: 5px;
  }
  /*footer*/
  .footer-container {
    padding: 100px 0;
  }
  .footer-nav ul {
    grid-template-columns: repeat(3, 1fr);
  }
  .footer-icon ul {
    grid-template-columns: repeat(2, 1fr);
  }
  .footer-policy {
    grid-template-columns: repeat(2, 1fr);
  }
}
