@media only screen and (max-width: 665px) {
  /*header*/
  .header-container {
    flex-direction: column;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
  }

  .nav {
    flex-direction: column;
    align-items: center;
  }

  /*banner*/
  .banner-container {
    flex-direction: column-reverse;
    gap: 40px;
    padding: 0 30px;
  }

  .banner-left {
    width: 70%;
  }

  /*wegamersection*/
  .wearegamer-container {
    flex-direction: column;
    gap: 40px;
    padding-left: 80px;
    padding-right: 80px;
  }
  .weright {
    width: 100%;
    text-align: center;
  }
  /*videosection*/

  .video-container {
    padding: 0 10px;
  }
  .video-cards {
    flex-direction: column;
    align-items: center;
  }
  .video-card {
    width: 90%;
  }
  .video-img img {
    width: 100%;
  }

  /*play-section*/
  .play-container {
    flex-direction: column;
    padding: 0 10px;
  }
  .play-left {
    width: 100%;
    text-align: center;
  }
  .play-right {
    width: 80%;
  }

  .play-right img {
    width: 84%;
    position: relative;
  }
  .play-right .img2 {
    bottom: -18px;
    left: -20;
  }

  /*allgames*/
  .allgames-container {
    padding: 40px 0;
  }
  .allgames-cards {
    grid-template-columns: repeat(2, 1fr);
  }
 
}
