* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Work Sans", sans-serif;
}
header {
  width: 1050px;
  max-width: 1050px;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.logo img {
  display: inline-block;
  width: 86.041px;
}

.lh-bold {
  font-size: 50px;
  font-weight: 900;
}
.lt-p {
  color: #ff42a5;
}
nav ul {
  display: flex;
  align-items: center;
}
ul li {
  list-style: none;
}
.nA {
  text-decoration: none;
  display: inline-block;
  padding: 20px;
  color: black;
}
.fobtn {
  padding: 15px 40px;
  border-radius: 5px;
  background-color: rgba(189, 189, 186, 0.313);
}
.fobtn {
  display: flex;
  align-items: center;
  gap: 10px;
}

/****/
.banner-section {
  width: 1050px;
  max-width: 1050px;
  margin: 0 auto;
}
.banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-img {
  width: 70%;
  position: relative;
}
.banner-img img {
  width: 100%;
  height: 600px;
}

.b_color {
  color: #534c64;
}
.b-p {
  font-size: 40px;
}
.b-pink {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 70px;
  font-weight: bolder;
}
.btn-p {
  background: var(
    --Linear,
    linear-gradient(90deg, #ff42a5 13.13%, #ff42a5 87.94%)
  );
  color: white;
}
.btn-b {
  background: #4ec5f7;
  color: white;
}

.banner-intro p {
  margin-bottom: 15px;
}
.banner-intro button {
  padding: 15px 30px;

  border: none;
  border-radius: 10px;
}

/**/
.know-section {
  padding: 80px 0;
  width: 1050px;
  max-width: 1050px;
  margin: 0 auto;
}
.know-container {
  display: flex;
  gap: 20px;
  justify-content: space-around;
  align-items: center;
}

.know-img img {
  width: 690px;
}
.know-de {
  text-align: end;
}
.know-de h2 {
  font-size: 35px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
}
.know-de p {
  margin: 10px 0;
  color: #534c64;
}
.know-btn {
  padding: 15px 35px;
  border: none;
  border-radius: 5px;
}
.pp {
  font-size: 18px;
  font-weight: bold;
  color: rgb(101, 84, 84);
}
.pq {
  font-size: 22px;
  color: rgb(64, 64, 64);
}
/**/
.games-section {
  padding-top: 20px;
  width: 1050px;
  max-width: 1050px;
  margin: 0 auto;
}
.games-container {
  text-align: center;
}
.gm-tx {
  padding-bottom: 40px;
}
.gm-tx h2 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 20px;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.games-cards {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
.game-card {
  width: 240px;
}
.game-card img {
  width: 100%;
}

/**/
.anniversary-section {
  padding-top: 70px;
  margin: 0 auto;
  width: 1050px;
  max-width: 1050px;
}
.anniversary-container {
  display: flex;
  align-items: center;
}

.play-text {
  width: 40%;
  margin: auto;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
  font-size: 30px;
  text-align: right;
}
.play-para {
  padding-top: 15px;
  width: 40%;
  margin: auto;
  text-align: right;
}
.ani-img {
  position: relative;
  width: 700px;
  height: 700px;
}

.ani-img img {
  position: absolute;
}
.image1 {
  width: 550px;
  z-index: 1;
}
.image2 {
  bottom: 40px;
  left: -100px;
  width: 200px;
  z-index: 3;
}

/**/
.anid-section {
  padding: 50px 0;
}
.anid-container {
  margin: 0 auto;
  width: 1050px;
  max-width: 1050px;
  display: flex;
  align-items: center;
}

.anid-img {
  width: 700px;
  height: 700px;
}

.anid-img1 {
  width: 550px;
  /* z-index: 1; */
}
.anid-img2 {
  /* bottom: 40px;
  right: -160px; */
  width: 200px;
  margin-left: -110px;
  margin-bottom: -100px;
  /* z-index: 3; */
}
.anid-tx {
  width: 400px;
}

.play-text2 {
  width: 80%;
  font-size: 27px;
  font-weight: 900;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-left: 25px;
}
.play-para2 {
  padding-top: 20px;
  padding-left: 25px;
}

/**/
.careers-section {
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);

  padding: 50px 0;
}
.careers-container {
  margin: 0 auto;
  width: 1050px;
  max-width: 1050px;
  display: flex;
  align-items: center;
  gap: 30px;
}
.careers-info {
  width: 50%;
}
.careers-info h3 {
  font-size: 35px;
  color: white;
  margin-bottom: 10px;
}
.wt {
  color: rgba(255, 255, 255, 0.815);
}
.careers-op {
  color: rgb(255, 255, 255);
  font-weight: bold;
}
.posi-btn {
  padding: 15px 35px;
  border: none;
  border-radius: 10px;
  color: rgb(182, 33, 208);
}
.careers-img {
  width: 70%;
}
.careers-img img {
  width: 100%;
}
.careers-op {
  display: flex;
  gap: 30px;

  padding: 10px 0;
}

/**/
.allgames-section {
  padding: 100px 0;
}
.allgames-container {
  margin: 0 auto;
  width: 1050px;
  max-width: 1050px;
}

.allgames-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  justify-items: center;
  gap: 35px;
}
.allgame-card {
  display: flex;
  align-items: center;
  width: 220px;
  gap: 10px;
  border-radius: 20px;
  transition: ease;
}
.allgame-card:hover {
  outline: 2px solid rgb(196, 14, 141);
}

/**/

footer {
  background-color: rgb(0, 0, 0);
  color: white;
}
.footer-container {
  padding: 140px 100px;
  margin: 0 auto;
  width: 1050px;
  max-width: 1050px;
}
.footer-nav {
  padding: 50px 0;
}
.footer-nav ul {
  display: grid;
  width: 70%;
  margin: auto;
  grid-template-columns: repeat(6, 1fr);
  justify-items: center;
  gap: 5px;
  font-weight: bold;
}

.footer-icon {
  width: 50%;
  margin: auto;
}
.footer-icon ul {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;
  gap: 20px;
}
.footer-icon {
  padding-bottom: 30px;
}
.footer-icon ul li {
  background-color: rgb(0, 0, 0);
  border: none;
}
.footer-icon ul li i {
  font-size: 30px;
  color: rgb(255, 255, 255);
}
ul li {
  list-style-type: none;
}
.policy {
  display: grid;
  width: 70%;
  margin: auto;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  padding: 30px 0;
  gap: 5px;
}
.policy p {
  font-size: 14px;
}
.fo-p {
  font-size: 14px;
  text-align: center;
}
